@import url('../globals.css'); /* Import global variables */
@import url('project-div.css');
@import url('../template/scroll-div.css');
@import url('../template/title-block.css');
body {
  font-family: var(--primary-font-family);
  background-color: var(--background-color);
}
.title-and-projects-spacer {
  width:100%;
  height: var(--projects-top-spacer-height);
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.3vw;
  row-gap: 10px;
  will-change: transform, opacity;
}
.container .project-div:nth-child(-n+2) { 
  height: calc(100vh - var(--projects-top-spacer-height,0)) !important;
}
.title-space {
  height: calc(calc( 100vh - var(--title-height)) / 2);
  width:100%;
}