</div>
<div class="w-screen overflow-hidden h-[10vh]"></div>
<div class="z-10000 flex flex-col sm:flex-row items-center justify-center gap-5 w-dvw h-65 bg-obsidian-100">
    <div class="font-alef text-cobalt-25 text-center flex flex-col justify-end sm:justify-center leading-none h-20">
        <span class="text-[2em]">Luke Hoffmann</span><br>
        <a class='inline-block transition duration-200 ease-in-out hover:text-cobalt-75 text-[1.4em]' href="mailto:hello@lukehoffmann.com">hello@lukehoffmann.com</a>
    </div>
    <div class="gap-3 flex direction-row justify-center sm:justify-evenly sm:items-center items-start w-full sm:w-1/8 h-3/8 sm:h-1/2">
            <a class="transition duration-200 ease-in-out hover:scale-[1.19] h-3/8 aspect-square" href="https://github.com/luke-hoffmann">
                <img src="/assets/images/icons/github.svg">
            </a>
            <a class="transition duration-200 ease-in-out hover:scale-[1.19] h-3/8 aspect-square" href="https://linkedin.com/in/lukeh351">
                <img src="/assets/images/icons/linkedin.svg">
            </a>
        </div>
</div>
<script>
document.querySelectorAll('img').forEach(img => {
  img.loading = 'lazy';
});
</script>
</body>
