<script src="/assets/js/scroll.js"></script>
<div class="title-space" id="top"></div>
<div class="title-block">
    <div class="horizontal-center">
        <div class="vertical-center">
            <div class="sub-div">

                <div class="text" id="name">Luke</div> 
            </div>
            <div class="sub-div">
                <div class="text take-away-to-projects" id="portfolio" onclick="scrollToPoint()">Online Portfolio</div>
            </div>
            <div class="text" id="name">Hoffmann</div> 
        </div>
    </div>
    </div>
    <div class="title-space" id="bottom"> 
        <div class="horizontal-center">
            <div class="vertical-center">
                <div id="scroll-button-vertical-spacer"></div>
                <button class='take-away-to-projects' id="scroll-button" type="button" onclick="scrollToPoint()">
                    <img src="/assets/images/icons/arrow-down-simple.svg" alt="icon" />
                </button>
            </div>
        </div>
        
    </div>