<link rel="stylesheet" href="/assets/css/includes/header.css"></link>
    <div class="header">
        <div class="sub-div">
                <div class="text" id="left">
                    <a href="">
                    Luke Hoffmann
                    </a>

                </div>
            
        </div>
        <div class="sub-div">

                <div class="text take-away-to-projects" id="middle" >
                    <a href="" id="middle">
                    Online Portfolio
                    </a>
                </div>
        </div>
        <div class="sub-div">

                <div class="text" id="right">
                    <a href="">
                        Contact
                    </a>
                </div>
        </div>
    </div>
<div class="vertical-space" id="title-bottom"></div>