@import url('../fonts/walbuam-2010-pro/stylesheet.css');
@import url('template/header.css');
@font-face {
    font-family: akidenz-grotesk;
    src: url("../fonts/akzidenz-grotesk/AkzidenzGroteskBE-Regular.otf");
}
@font-face {
    font-family: akidenz-grotesk;
    src: url("../fonts/akzidenz-grotesk/AkzidenzGroteskBE-Bold.otf");
    font-weight: bold;
}


:root {
    --background-color:#FFFFFF;
    --primary-color: #FD480F;
    --secondary-color: #000000;
    --tertiary-color: #333336;
    --primary-font-family: 'akidenz-grotesk', "sans-serif";
    --secondary-font-family: 'Walbaum Pro 2010', "serif";
    --font-size: 16px;
}
body {
    margin:0;
}

.horizontal-center {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}
.vertical-center {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}