<p>
    Visualize a school of fish. As they move through the ocean, there is the outer shell of fish that are on the outside of the group. There are also fish on the inside of the group. Imagine freezing the school of fish in place and wrapping it with gift wrap. You can hopefully visualize the shell that is created around the fish. 
</p>
<p>
    In computer graphics, this shell is called a convex hull. It is a structure that is created from some set of points in space. The objective is to find the points from the set, that, when connected, contain all the other points.
</p>
<p>
    Our intuition can tell us what this would look like, but trying to teach a computer to do this is much more difficult. Computers don’t have the spatial understanding and reasoning that our brains do. 
</p>
<p> 
    My objective when I learned about this task was to write a procedure that the computer could follow, to achieve this task. My first step in understanding this problem, was to create a 2 dimensional implementation. You can see that <b><a type="link" href="/projects/2D-convex-hull-algorithm.html">HERE</a></b>. After mastering two dimensions, I decided to create the web graphic shown below.
</p>


<h3> What does the visualization do?</h3>
<ul>
    <li>The <b> Generate Points </b> button allows you to generate a random set of points </li>
    <li>The <b> Find Convex Hull </b> button does what is described above. It calculates the outermost points of the random points, and displays their connections </li>
    <li>The <b> Play </b> button applies a rotation to the points, this is used to help show the three dimensionality of the points </li>

</ul>