<p>
    Depending on where you live, you may see flocks of birds flying overhead daily. They clump together in flocks, and when migrating for the winter, fly in a V shaped pattern. This seemingly random behavior has a cohesive nature to it. The birds, without communicating, can travel in the same direction, without hitting each other. </p>
<p>
    I think this natural flocking behavior is really cool. So, when I learned about a way for modeling this flocking, I jumped into action to start building a model. The person who captured the behavior of flocking birds is Craig Reynolds, a computer graphics expert. 
</p>
<p>
    His model described the flocking of birds in the following three different parts: 

    <ul>
        <li> <b>Cohesion</b> – Each bird will move towards the average position of its neighboring birds</li>
        <li> <b>Separation</b> – Each bird will move away the average position of its neighboring birds</li>
        <li> <b>Alignment</b> – Each bird will face in the direction of its neighboring birds</li>
    </ul>
</p>
<p>
    I have depicted these three parts in this web graphic. The <b>Generate Birds</b> button can be used to generate a random distribution of birds with random positions and headings. The <b>Play</b> button is used to simulate the passage of time, as the birds display their flocking behavior.
</p>