<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/pages/blog.css"></link>
    
    {% if page.customCSS %}
        {% for stylesheet in page.customCSS %}
        <link rel="stylesheet" href="{{stylesheet}}">
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include header.html %}
    <div class="horizontal-center" id="blog-return-div">
    <div  id="blog-return">
        <a id="more-college" href="/../college-updates/index.html">More College Posts</a>
    </div>
    </div>
    <div class="horizontal-center" id="explanation-div">
        <div id="explanation-wrapper">
            <span class="project-title">{{page.blogTitle}} <h1 style='font-size:20px;'>{{ page.date | date: "%B %-d, %Y" }}  </h1></span>
                <span class="project-paragraph">
                    {{content}}
                </span>
        </div>
    </div>

    <div class="horizontal-center" id="blog-return-div">
    <div  id="blog-return">
        <a id="more-college" href="/../college-updates/index.html">More College Posts</a>
    </div>
    </div>
    {% if page.customScripts %}
        {% for script in page.customScripts %}
        <script src="{{script}}"></script>
        {% endfor %}
    {% endif %}

    
</body>
</html>
