<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/globals.css"></link>
    <link rel="stylesheet" href="/assets/css/template/header.css"></link>
    <link rel="stylesheet" href="/assets/css/template/p5js-canvas-block.css"></link>
    <link rel="stylesheet" href="/assets/css/p5js-project-post/p5js-project-post.css"></link>
</head>
<body>
    {% include header.html %}
    <div class="vertical-space" id="title-explanation"></div>
    <div class="horizontal-center" id="explanation-div">
        <div id="explanation-wrapper">
            <span class="project-title">{{page.projectTitle}}</span>
                <span class="project-paragraph">
                    {{page.projectDescription}}
                </span>
        </div>
    </div>
    
    <div class="vertical-space" id="arrow-canvas"></div>
    <div class="horizontal-center target" id="p5-canvas-center">
        <div id="p5-canvas-container">
            <div class="horizontal-center">
                <div id="p5-canvas-div" >
                <!-- p5.js canvas will be inserted here -->
                 <button type="button" id="play-button" onclick="startSimulation()">Play</button>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="vertical-space" id="canvas-bottom-of-page"></div>
    <script src="/assets/js/p5js/p5.min.js"></script>
    <script src="{{page.projectScript}}"></script>
</body>

</html>