---
    layout: base
    layoutScripts: 
        - /assets/js/project-scripts/canvasSetup.js
---
    <div class="w-full h-[4vh]"></div>
    <div class=" w-full flex flex-col items-center">

    
        <div class="alef-bold text-[2em]">
            {{page.projectTitle}}
        </div>
        <div class="w-full h-[2vh]"></div>
        <div class="w-5/8 md:w-3/8">
            <div class="w-full" id="canvas-insertion-point">
            <!-- p5.js canvas will be inserted here -->
            </div>
            <div class="my-5 w-full flex flex-row justify-evenly items-center">
                {% if page.projectButtons %}
                    {% for button in page.projectButtons %}
                        {{button}}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w-5/8 md:w-3/8">

        {{content}}
    </div>
    
    <script src="/assets/js/lib/p5js/p5.min.js"></script>
    {% if page.projectScripts %}
        {% for script in page.projectScripts %}
        <script  src="{{script}}"></script>
        {% endfor %}
    {% endif %}
