---
page.p5js-link: /assets/js/p5js/p5.min.js
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/globals.css"></link>
    <link rel="stylesheet" href="/assets/css/includes/p5js-canvas-block.css"></link>
    <link rel="stylesheet" href="/assets/css/p5js-project-post/p5js-project-post.css"></link>
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="stylesheet"></link>
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include header.html %}
    <div class="horizontal-center" id="explanation-div">
        <div id="explanation-wrapper">
            <span class="project-title">{{page.projectTitle}}</span>
                <span class="project-paragraph">
                    {% include {{page.projectDescription}} %}
                </span>
        </div>
    </div>
    
    <div class="vertical-space" id="paragraph-canvas"></div>
    {% include p5js-canvas.html %}
   

    <div class="vertical-space" id="canvas-bottom-of-page"></div>
    {% if page.p5js-link %}
    <script src="{{page.p5js-link}}"></script>
    {% endif %}
    
    {% if page.projectScripts %}
        {% for script in page.projectScripts %}
        <script  src="{{script}}"></script>
        {% endfor %}
    {% endif %}
</body>

</html>