---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/global.css"></link>
    <link rel="stylesheet" href="/assets/css/pages/real-life-project-post/real-life-project-post.css"></link>
    {% if page.projectCSS %}
        {% for stylesheet in page.projectCSS %}
        <link rel="stylesheet" href="{{stylesheet}}"></link>
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include header.html %}
    <div class="horizontal-center" id="explanation-div">
        <div id="explanation-wrapper">
            {% if page.highlightImage %}
            <img id='highlightImage' class='contentWidthImage' src="{{page.highlightImage}}">

            {% endif %}
            <div class="vertical-space" id="highlight-title-spacer"></div>
            <span class="project-title">{{page.projectTitle}}</span>
                <span class="project-paragraph">
                    {{content}}
                </span>
        </div>
    </div>
    
    <div class="vertical-space" id="paragraph-canvas"></div>

    
</body>

</html>