

:root {
    --move-arrow-div-height:15vh;
}
.title-space#bottom{
    height:var(--move-arrow-div-height);
}

.project-title {
    height:auto;
    text-align: center;
    font-family: var(--primary-font-family);
    font-size:2.5em;
    display: block;
}
.project-paragraph {
    text-align: center;
}

.horizontal-center#explanation-div, #control-buttons, .project-title{
    width: 100%;
}

#explanation-div #explanation-wrapper {
    font-size:18px;
    width:500px;
}
@media only screen and (max-width:465px) {
    .project-paragraph {
        font-size:4.05vw;
    }
}
@media only screen and (max-width: 430px) {
    
    .project-title {
        font-size:1.65em;
        
    }
}

@media only screen and (max-width: 500px) {
    .project-title {
        font-size:1.7em;
        
    }
    #explanation-div #explanation-wrapper {
        width:90%;
    }
}

#control-buttons {
    height:100px;
}
.reset {
    width:135px;
    height:60px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

ul, li {
    text-align: left;
}
#play-rgb-boids-button {
    width:75px;
    height:75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 10;  /* Ensure it appears above the canvas */
    font-size: 25px;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.vertical-space#arrow-canvas, .vertical-space#canvas-bottom-of-page{
    height: calc(calc(100vh - var(--p5-canvas-container-height))/2);
}


@media only screen and (max-width: 450px) {
    .vertical-space#arrow-canvas, .vertical-space#canvas-bottom-of-page{
        height: calc(calc(100vh - var(--p5-canvas-container-height))/2);
    }
}

